$key = "$HOME/key.txt"
if ( Test-Path "$key" ) {
    & "$HOME/scoop/shims/age.exe" --decrypt --output "$key" "$HOME/.local/share/chezmoi/key.txt.age"

    # Change file permission to read
    $ACL = Get-ACL -Path "$key"
    $AccessRule = New-Object System.Security.AccessControl.FileSystemAccessRule("Read")
    $ACL.SetAccessRule($AccessRule)
    $ACL | Set-Acl -Path "$key"
}
