[Desktop Entry]
Name=My Steam (Runtime)
Comment=Application for managing and playing games on Steam
Exec=/usr/bin/prime-run /usr/bin/steam-runtime %U
Icon=steam
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
