{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
{{  if eq .chezmoi.osRelease.id "fedora" }}
sudo dnf install https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm -y
sudo dnf swap ffmpeg-free ffmpeg --allowerasing -y
sudo dnf groupupdate multimedia --setop="install_weak_deps=False" --exclude=PackageKit-gstreamer-plugin -y
sudo dnf groupupdate sound-and-video -y

sudo dnf install alacritty git tmux neovim fzf ripgrep zsh zsh-autosuggestions \
  alacritty age eza mpv nodejs npm ps_mem sqlite sqlite-devel tldr \
  trash-cli util-linux-user wl-clipboard zathura zoxide gcc gcc-c++ -y

echo "Starship prompt"
sudo dnf copr enable atim/starship -y
sudo dnf install starship -y

echo "Lazygit"
sudo dnf copr enable atim/lazygit -y
sudo dnf install lazygit -y

echo "VScode"
sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc
sudo sh -c 'echo -e "[code]\nname=Visual Studio Code\nbaseurl=https://packages.microsoft.com/yumrepos/vscode\nenabled=1\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc" > /etc/yum.repos.d/vscode.repo'
dnf check-update
sudo dnf install code -y
{{  end }}

mc_loc='/home/symph/.local/share/miniconda3'
if [ ! -d "$mc_loc" ]; then
  echo "Miniconda"
  wget "https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh" -O ~/miniconda.sh
  bash ./miniconda.sh -b -u -p "$mc_loc"
  rm ~/miniconda.sh
fi

if [ ! -d "/home/linuxbrew/" ]; then
  echo "Homebrew"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
  brew install sccache
fi

{{  if eq .chezmoi.osRelease.id "ubuntu" }}
sudo apt install git tmux zsh zsh-autosuggestions nodejs npm sqlite3 libsqlite3-dev tldr \
    wl-clipboard zoxide exa ripgrep gcc g++ -y flatpak

brew install neovim fzf starship lazygit
{{  end }}

echo "Flatpak"
flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
flatpak remote-add --if-not-exists kdeapps https://distribute.kde.org/kdeapps.flatpakrepo

flatpak install -y com.spotify.Client com.discordapp.Discord com.github.tchx84.Flatseal com.obsproject.Studio org.qbittorrent.qBittorrent
flatpak install -y org.kde.xwaylandvideobridge

{{ if eq .chezmoi.osRelease.id "fedora" }}
flatpak install com.mattjakeman.ExtensionManager -y
{{ end }}

if [ -f "/bin/zsh" ]; then
  sudo chsh -s /bin/zsh symph
fi
{{ end -}}
