window:
  padding:
    x: 8
    y: 8
  decorations: none
  opacity: 1.0
  startup_mode: Maximized

font:
  normal:
    family: JetBrainsMono Nerd Font
  size: 12.0
  transparent_background_colors: true

cursor:
  style:
    shape: Block
    blinking: off
  vi_mode_style: Block

live_config_reload: false

env:
  TERM: xterm-256color

{{ if eq .chezmoi.os "windows" }}
shell:
  program: ubuntu
{{ end }}

# colors:
#   primary:
#     background: '#000000'
#     foreground: '#b9b9b9'
#
#   cursor:
#     text: '#000000'
#     cursor: '#b9b9b9'
#
#   normal:
#     black: '#101010'
#     red: '#7c7c7c'
#     green: '#8e8e8e'
#     yellow: '#a0a0a0'
#     blue: '#686868'
#     magenta: '#747474'
#     cyan: '#868686'
#     white: '#b9b9b9'
#
#   bright:
#     black: '#525252'
#     red: '#999999'
#     green: '#252525'
#     yellow: '#464646'
#     blue: '#ababab'
#     magenta: '#e3e3e3'
#     cyan: '#5e5e5e'
#     white: '#f7f7f7'

# Tokyonight-night
# colors:
#   # Default colors
#   primary:
#     background: '0x1a1b26'
#     foreground: '0xc0caf5'
# 
#   # Normal colors
#   normal:
#     black:   '0x15161e'
#     red:     '0xf7768e'
#     green:   '0x9ece6a'
#     yellow:  '0xe0af68'
#     blue:    '0x7aa2f7'
#     magenta: '0xbb9af7'
#     cyan:    '0x7dcfff'
#     white:   '0xa9b1d6'
# 
#   # Bright colors
#   bright:
#     black:   '0x414868'
#     red:     '0xf7768e'
#     green:   '0x9ece6a'
#     yellow:  '0xe0af68'
#     blue:    '0x7aa2f7'
#     magenta: '0xbb9af7'
#     cyan:    '0x7dcfff'
#     white:   '0xc0caf5'
# 
#   indexed_colors:
#     - { index: 16, color: '0xff9e64' }
#     - { index: 17, color: '0xdb4b4b' }
    
# Catppuccin Macho
colors:
  primary:
      background: "#1E1E2E" # base
      # background: "#111111" # base
      foreground: "#CDD6F4" # text
      # Bright and dim foreground colors
      dim_foreground: "#CDD6F4" # text
      bright_foreground: "#CDD6F4" # text

  # Cursor colors
  cursor:
      text: "#1E1E2E" # base
      cursor: "#F5E0DC" # rosewater
  vi_mode_cursor:
      text: "#1E1E2E" # base
      cursor: "#B4BEFE" # lavender

  # Search colors
  search:
      matches:
          foreground: "#1E1E2E" # base
          background: "#A6ADC8" # subtext0
      focused_match:
          foreground: "#1E1E2E" # base
          background: "#A6E3A1" # green
      footer_bar:
          foreground: "#1E1E2E" # base
          background: "#A6ADC8" # subtext0

  # Keyboard regex hints
  hints:
      start:
          foreground: "#1E1E2E" # base
          background: "#F9E2AF" # yellow
      end:
          foreground: "#1E1E2E" # base
          background: "#A6ADC8" # subtext0

  # Selection colors
  selection:
      text: "#1E1E2E" # base
      background: "#F5E0DC" # rosewater

  # Normal colors
  normal:
      black: "#45475A" # surface1
      red: "#F38BA8" # red
      green: "#A6E3A1" # green
      yellow: "#F9E2AF" # yellow
      blue: "#89B4FA" # blue
      magenta: "#F5C2E7" # pink
      cyan: "#94E2D5" # teal
      white: "#BAC2DE" # subtext1

  # Bright colors
  bright:
      black: "#585B70" # surface2
      red: "#F38BA8" # red
      green: "#A6E3A1" # green
      yellow: "#F9E2AF" # yellow
      blue: "#89B4FA" # blue
      magenta: "#F5C2E7" # pink
      cyan: "#94E2D5" # teal
      white: "#A6ADC8" # subtext0

  # Dim colors
  dim:
      black: "#45475A" # surface1
      red: "#F38BA8" # red
      green: "#A6E3A1" # green
      yellow: "#F9E2AF" # yellow
      blue: "#89B4FA" # blue
      magenta: "#F5C2E7" # pink
      cyan: "#94E2D5" # teal
      white: "#BAC2DE" # subtext1

  indexed_colors:
      - { index: 16, color: "#FAB387" }
      - { index: 17, color: "#F5E0DC" }
